.welcome-message
  font-style: italic;

.todo-form
  margin-bottom: 1.5em;

.todo
  .note
    display: inline-block;
    margin-left: 1em;

    &.complete
      text-decoration: line-through;
      color: #999;

