// break points
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// palette
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             #4E5D6C;
$gray-lighter:           #EBEBEB;

$brand-primary:         #DF691A;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

.welcome-message {
  font-style: italic;
}

/* auth */
.form-field-invalid {
  color: $brand-danger;
  margin-top: 6px;
}

/* header */
.navbar-default .navbar-nav > .disabled {
  background: $gray-dark;

  & > a {
    color: $gray;
  }
}

/* todos */
.todo-form {
  margin-bottom: 1.5em;

  button {
    margin-top: 1.5em;
  }

  @media (min-width: $screen-sm) {
    .input-col {
      padding-right: 0;
    }

    button {
      margin-top: 0;
    }
  }
}

.todo {
  .note {
    display: inline-block;
    margin-left: 1em;

    &.complete {
      text-decoration: line-through;
      color: $gray-darker;
    }
  }
}


